@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.admin-product-table > thead > tr > th {
    font-family: 'Roboto';
    font-size: 12px;
    color: dimgray;
    letter-spacing: 1.1px;
}


.admin-product-table > tbody > tr > td > img{
    width: 3rem;

}
