.admin-home-right{
    width: 100%;
    margin: 1rem 1rem;
    display: flex;
    flex-direction: column;
}

.admin-home-right-top{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h3{
    color: black;
    font-family: 'Roboto';
}


.admin-home-right-top-card{
    width: 12rem;
    margin: 1rem 1rem;
    color: orange;
    border-radius: 1rem;
    border-top: 0.25rem solid orange;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
     0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

.card-title{
    color: grey;
    font-size: 1rem;
    font-family: 'Roboto';
}


.card-icons{
    font-size: 1.25rem;
    margin-bottom: 5px;
}